<!DOCTYPE html>
<html>
  <head>
    <title>Text Stats</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='text-stats-favicon.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  </head>
  <body>
    <div class="header">
      <span class="logo serif">T</span><span class="name sans-serif light-text">TextStats</span>
      <button class="calculate sans-serif">Calculate</button>
      <button class="back">&lang;</button>
    </div>
    <div class="content">
      <textarea class="editor light-text serif" placeholder="Enter some text or a Medium url..."></textarea>
      <div class="stats sans-serif light-text"></div>
    </div>
    <!-- SCRIPTS! -->
    <script class="stats-table-template" type="text/html">
      {% raw %}
      <h1 class="serif">Stats for <br>&ldquo;<span class="first-sentence">{{ firstSentence }}</span>&rdquo;</h1>
      <table class="stats-table" cellpadding="0" cellspacing="0">
        <tr>
          <td class="label">Word Count</td>
          <td class="value">{{ wordCount }}</td>
        </tr>
        <tr>
          <td class="label">Sentence Count</td>
          <td class="value">{{ sentenceCount }}</td>
        </tr>
        <tr>
          <td class="label">Paragraph Count</td>
          <td class="value">{{ paragraphCount }}</td>
        </tr>
        <tr>
          <td class="label">Most Common Bigram</td>
          <td class="value">
            &ldquo;{{ bigram.words }}&rdquo; ({{ bigram.count }})
          </td>
        </tr>
        <tr>
          <td class="label">Most Common Trigram</td>
          <td class="value">
            &ldquo;{{ trigram.words }}&rdquo; ({{ trigram.count }})
          </td>
        </tr>
        <tr>
          <td class="label">Word Length Distribution</td>
          <td class="value">
            <table class="word-length-table">
              <tr>
                <th>Length</th>
                <th>Count</th>
              </tr>
              {{#each wordLengthCounts}}
                <tr>
                  <td>{{@key}}</td>
                  <td>{{this}}</td>
                </tr>
              {{/each}}
            <table>
          </td>
        </tr>
      </table>
      {% endraw %}
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='handlebars.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
